<!DOCTYPE html>
<html lang="zh-en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='chatroom.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <form action="{{ url_for('homeroo') }}" method='POST' class="login-form">

        <h1>Chat Room</h1>

        <hr>
        <form>
            <textarea id='aaa' name='aaa' rows='18' cols='80'></textarea>
        </form>

        <hr>
        <form>
            <textarea id='bbb' name='bbb' rows='18' cols='80'></textarea>
        </form>

</body>

</html>