<!DOCTYPE html>
<html lang="zh-en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='chatroom.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <form action="{{ url_for('homeroo') }}" method='POST' class="login-form">

        <h1>Chat Room</h1>
        <form>
            <input style="font-size:20px;width: 99%;" type='text' name='input'
                placeholder="Start write your message~"></input>
        </form>
        <hr>
        <div>
            <ul id="message"></ul>
        </div>

</body>

</html>